<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="themekit/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="themekit/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="themekit/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="themekit/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="themekit/node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="themekit/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="themekit/dist/css/theme.min.css">

    <script src="themekit/src/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    
    {% block body %}{% endblock %}

    <script src="themekit/src/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="themekit/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="themekit/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="themekit/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="themekit/node_modules/screenfull/dist/screenfull.js"></script>
    <script src="themekit/dist/js/theme.js"></script>
</body>
</html>

